/* @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.navbar-fixed {
    @apply bg-opacity-70;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}

.listModalCareer > ol {
    @apply list-decimal ml-10;
}

time {
    @apply font-serif;
}
